* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  background: #1f242d;
  color: #fff;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: SlideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin-left: 35px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
  animation: SlideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}
.navbar a:hover,
.navbar a.active {
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 79px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  animation: SlideBottom 0.7s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: SlideTop 0.7s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  animation: SlideRight 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
.home-content h3 span {
  color: #0ef;
}
.home-content p {
  font-style: 16px;
  animation: SlideLeft 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
.social-links a {
  border: 3px solid #0ef;
  width: 40px;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  color: #0ef;
  margin: 20px 10px 15px 0;
  transition: 0.5s ease;
  font-size: 20px;
  animation: SlideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}
.social-links a:hover {
  color: #1f242d;
  background: #0ef;
  box-shadow: 0 0 20px #0ef;
}
.btn_dnld {
  padding: 12px 28px;
  display: inline-block;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s ease;
  animation: SlideTop 1s ease forwards;
  animation-delay: 2s;
  opacity: 0;
}
.btn_dnld:hover {
  background: #1f242d;
  color: #0ef;
}
.home_image img {
  max-width: 450px;
  animation: ZoomIn 1s ease forwards;
  animation-delay: 2s;
  opacity: 0;
}






/* skill section start from here */

.skill-bar {
  padding: 60px 20px;
  background: #3b3b5b;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.skill-bar h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #111827;
}

.skill-bar h1 span {
  color: #10b981;
  font-weight: bold;
}

.circle-skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.circle-skill > div {
  --percent: 95;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#10b981 calc(var(--percent) * 1%), #e5e7eb 0%);
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.circle-skill > div:hover {
  transform: scale(1.07);
}

.circle-skill a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 1.3rem;
  font-weight: bold;
  color: #111827;
  text-decoration: none;
}

.circle-skill p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  text-transform: uppercase;
  color: #374151;
  font-weight: 600;
}

.learning-journey {
  background: #8686ac;
  padding: 50px 5%;
  width: 100%;
  text-align: center;
}

.learning-journey h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #0ef;
  font-weight: bold;
}

#levelChart {
  width: 100%;
  max-width: 1000px;
  height: 350px;
  margin: auto;
}























































@keyframes SlideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SlideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes SlideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes SlideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes ZoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
